* {
    padding: 0;
    margin: 0;
    outline: 0;
    transition: .5s all;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.game-table {
    border-collapse: collapse;
}

.game-table > tr > td {
    width: 70px;
    height: 70px;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
}

.game-table > tr > td:hover {
    background-color: #c9c9c9;
}